
{{!-- {{#if auth}}  --}}
<div class="container col-5">
<h2>Nome do Carro: {{user.name}}<br>Marca: {{user.marca}} <br> Potência: {{user.potencia}} <br> Cor: {{user.cor}}<br> Ano de Fabricação: {{user.ano}}</h2>
</div>
<div class="container col-4">
<a href="/" class="btn btn-primary">Página de Login</a>
<a href="/users/add" class="btn btn-secondary">Novo Cadastro</a>
</div>

{{!-- {{/if}} --}}

